header {
  width: 1800px;
  height: 988px;
  background-color: blue;
  background-image:
  url(images/layer/Layer\ 10@1X.png),
  url(images/layer/Layer\ 4@1X.png),
  url(images/layer/Layer\ 7@1X.png),
  url(images/layer/Layer\ 2@1X.png),
  url(images/layer/Layer1copy@1X.png);
 background-repeat: no-repeat;
 background-position: 581px 512px ,0px 100px, 0px 512px, 0px 0px , -63px -175px;
}

h1 {
  position: absolute;
  top: 85px;
  left: 200px;
  width: 157px;
  height: 22px;
  margin: 0;
  font-size: 22px;
}
h1 a {
  text-decoration: none;
  color: gray;
}

h1 a span{
  color: red;
} 

nav {
  position: absolute;
  top: 85px;
  left: 929px;
  width: 650px;
  height: 30px;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  color: gray;
}

#loginbutton {
  color: black;
  margin-left: 40px;
  font-weight: bold;
  border: none;
  background-color: transparent;
}

#signupbutton {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  color: white;
  background: linear-gradient(to bottom right, #582C7E, #6379D0);
  border-radius: 40px;
  border-style: none;
  padding: 10px 15px;
  box-shadow: 0px 5px 15px #6379D0;
}

#language {
  position: absolute;
  top: 135px;
  left: 194px;
  width: 236;
  height: 14;
}

#language button,
#language p {
  /* text-decoration: none; */
  margin-right: 3px;
  display: inline;
  color: gray;
  font-size: 14px;
  text-decoration: none;
  border-style: none;
  background-color: transparent;
  outline: none;
}

#language button:active {
  font-weight: bold !important;
  text-decoration: underline !important;
  margin-right: 3px;
  display: inline;
  color: gray;
  font-size: 14px;
  border-style: none;
  background-color: transparent;
}

h2 {
  position: absolute;
  top: 322px;
  left: 522px;
  width: 756px;
  height: 101px;
  margin: 0;
  font-size: 45px;
  font-weight: bold;
}

h2 p {
  text-align: center;
  color: gray;
}

#spanh2 {
  font-weight: normal;
}

#spanSomwhere {
  color: red;
}

#logindiv {
  position: absolute;
  top: 500px;
  left: 706px;
  width: 386px;
  height: 59px;
}

#createAccountButton {
  display: inline-block;
  vertical-align: middle;
  color: white;
  background: linear-gradient(to left, #582C7E,  #6379D0);
  border-radius: 40px;
  border-style: none;
  padding: 15px 50px;
  box-shadow: 0px 5px 15px #6379D0;
}

#appleIdButton {
  margin-left: 20px;
  vertical-align: middle;
  background-color: #582C7E;
  border-radius: 50%;
  border-style: none;
  padding: 7px 7px;
}

#googleIdButton {
  margin-left: 20px;
  vertical-align: middle;
  background-color: #582C7E;
  border-radius: 50%;
  border-style: none;
  padding: 9px 9px;
}
#googleIdButton img {
  margin-left: 5px;
}

#social {
  position: absolute;
  top: 323px;
  left: 1746px;
  padding: 0;
}

#social li  {
  list-style-type: none;
}

#socialfacebook {
  margin-top: 17px;
  margin-bottom: 17px;
}

.Privacy {
  position: absolute;
  top: 907px;
  left: 308px;
}

.Privacy img {
  position: absolute;
  top: 15px;
  left: -15px;
}

.Privacy h3 {
  margin-left: 60px;
  color: gray;
  font-size: 23px;
  font-weight: bold;
}

.Privacy h3 span {
  font-size: 20px;
  font-weight: normal;
}
.Privacy p {
  color: gray;
  font-size: 12px;
}

.Encryption {
  position: absolute;
  top: 907px;
  left: 800px;
}

.Encryption img {
  position: absolute;
  top: 7px;
  left: -35px;
}

.Encryption h3 {
  margin-left: 60px;
  color: gray;
  font-size: 23px;
  font-weight: bold;
}

.Encryption h3 span {
  font-size: 20px;
  font-weight: normal;
}
.Encryption p {
  color: gray;
  font-size: 12px;
}

.Anonymous {
  position: absolute;
  top: 907px;
  left: 1247px;
}

.Anonymous img {
  position: absolute;
  top: 15px;
  left: -20px;
}

.Anonymous h3 {
  margin-left: 60px;
  color: gray;
  font-size: 23px;
  font-weight: bold;
}

.Anonymous h3 span {
  font-size: 20px;
  font-weight: normal;
}
.Anonymous p {
  color: gray;
  font-size: 12px;
}


#shape2 {
  position: absolute;
  top: 797px;
  left: 713px;
}

#shape3 {
  position: absolute;
  top: 930px;
  left: 1145px;
}

#shape4 {
  position: absolute;
  top: 929px;
  left: 1607px;
}

#shape5 {
  position: absolute;
  top: 1400px;
}

.Security h4 {
  position: absolute;
  top: 1200px;
  left: 728px;
  color: rgb(92, 90, 90);
  font-size: 50px;
  margin: 0;
}

.Security p {
  position: absolute;
  top: 1269px;
  left: 477px;
  color: gray;
  font-size: 22px;
  margin: 0;
  text-align: right;
  width: 622px;
}

.Security p span {
  color: red;
}


#learnmore {
  position: absolute;
  top: 1364px;
  left: 993px;
  margin: 0;
  color: gray;
  border-style: solid;
  border-radius: 50px 50px 50px 50px;
  border-width: 2px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-right: 35px;
  padding-left: 35px;
}

.aboutsmi {
position: absolute;
top: 1470px;
left: 15px;
margin: 0;
padding: 0;
}

ol.aboutsmi li {
  display: inline;
}

#quote {
  position: absolute;
  top: 1567px;
  left: 402px;
  margin: 0;
  font-size: 22px;
}

#quote span {
  color: gray;
  font-style: unset;
  font-size: 15px;
}

#ellips1 {
  position: absolute;
  top: 1573px;
  left: 353px;
}

#ellips2 {
  position: absolute;
  top: 1596px;
  left: 354px;
}

#ellips3 {
  position: absolute;
  top: 1616px;
  left: 354px;
}

body {
  background-image: 
  url(images/Shapes/Shape11.png),
  url(images/Shapes/Shape10.png),
  url(images/Shapes/Shape8.png),
  url(images/Shapes/Shape7.png),
  url(images/layer/partners.png),
  url(images/layer/Layer\ 30@1X.png);
  background-repeat: no-repeat;
  background-position: 960px 2870px, 220px 2884px, 1398px 2600px, 0px 2600px, 445px 2670px, 0px 1640px;
}

.main {
  height: 1739px;
  width: 1800px;
  background-image: url(images/layer/NOT\ FOR\ USE!!!!!@1X.png);
  background-repeat: no-repeat;
  background-position: 952px 556px;
}

#anyDevice {
  margin: 0;
  position: absolute;
  top: 1840px;
  left: 777px;
  color: gray;
  font-size: 35px;
  font-weight: bold;
}

#anyDevicetext {
  margin: 0;
  position: absolute;
  top: 1900px;
  left: 690px;
  color: gray;
  text-align: right;
}

.appmarket {
  position: absolute;
  top: 1988px;
  left: 745px;
  margin: 0;
  padding: 0;
  }
  
ol.appmarket li {
    display: inline;
    margin-right: 10px;
  }

#shape6 {
    position: absolute;
    top: 2200px;
    left: 399px;
    width: 1400px;
    height: 2px;
    z-index: 2;
  }

#privacyHumanRight {
    color: gray;
    position: absolute;
    top: 2278px;
    left: 578px;
    font-size: 28px;
    text-align: center;
  }
  
#upgraidPlanButton {
    position: absolute;
    top: 2400px;
    left: 668px;
    display: inline-block;
    vertical-align: middle;
    color: white;
    background: linear-gradient(to left, #582C7E,  #6379D0);
    border-radius: 40px;
    border-style: none;
    padding: 15px 50px;
    box-shadow: 0px 5px 15px #6379D0;
  }

#donateButton {
    position: absolute;
    top: 2400px;
    left: 935px;
    display: inline-block;
    vertical-align: middle;
    color: white;
    background: linear-gradient(to left, #607EE6, #39BADE);
    border-radius: 40px;
    border-style: none;
    padding: 15px 50px;
    box-shadow: 0px 5px 15px #6FC4C2;
  }

#partners {
    position: absolute;
    top: 2615px;
    left: 1130px;
    color: gray;
    margin: 0;
  }

#contacts {
  color: gray;
  position: absolute;
  top: 2850px;
  left: 220px;
  list-style-type: none;
}

#contacts,
#contacts li a {
    text-decoration: none;
    color: rgb(76, 76, 76);
  }

.contactslimargin {
  margin-top: 10px;
}

#lastChild {
  margin-top: 35px;
}

div.company {
  position: absolute;
  top: 2850px;
  left: 825px;
}

ul.companylist {
    text-align: right;
    direction: rtl;
    float: left;
  }

ul.companylist li a {
  text-decoration: none;
  color: gray;
  font-size: 15px;
}

div.company h5 {
  font-size: 18px;
  text-align: right;
  color: rgb(76, 76, 76);
  font-weight: bold;
  padding-right: 15px;
}

div.legal {
  position: absolute;
  top: 2850px;
  left: 994px;
}

ul.legallist {
    text-align: right;
    direction: rtl;
    float: left;
  }

ul.legallist li a {
  text-decoration: none;
  color: gray;
  font-size: 15px;
}

div.legal h5 {
  font-size: 18px;
  text-align: right;
  color: rgb(76, 76, 76);
  font-weight: bold;
  padding-right: 15px;
}

div.neutron {
  position: absolute;
  top: 2850px;
  left: 1230px;
}

ul.neutronlist {
    text-align: right;
    direction: rtl;
    float: left;
  }

ul.neutronlist li a {
  text-decoration: none;
  color: gray;
  font-size: 15px;
}

div.neutron h5 {
  font-size: 18px;
  text-align: right;
  color: rgb(76, 76, 76);
  font-weight: bold;
  padding-right: 15px;
}

ul.repost {
  position: absolute;
  top: 3130px;
  left: 220px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.repost li {
  margin-left: 10px;
  display: inline;
  color: gray;
  font-size: 12px;
}

ul.repost li a {
  color: gray;
}

p.allRightsReserved {
  position: absolute;
  top: 3170px;
  left: 220px;
  padding-left: 10px;
  padding-bottom: 50px;
  margin: 0px;
  color: gray;
  font-size: 12px;
}